/* Стили для заголовков */
body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.5rem;
  color: #2f2f2f;
  text-align: center;
  margin-top: 2rem;
}

h2 {
  font-size: 1.8rem;
  color: #2f2f2f;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* Стили для списков */
ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  list-style-type: square;
}

li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Стили для выделений */
em {
  font-style: italic;
}

/* Стили для параграфов */
p {
  line-height: 1.5;
  margin-bottom: 1rem;
}